@charset "utf-8";
/*----- tablet 481~768px */

header > h1 {
    margin: 0 auto;
}
header .gnb {
    display: none;
}
/* main */
#main .title {
    position: relative;
}
#main .title .subtxt {
    font-size: 44px;
    left: 50%;
    transform: translateX(-50%);
}
#main .title .maintxt {
    font-size: 48px;
}
#main .title .maintxt:before {
    width: 105%;
}

h3 {
    font-size: 20px;
}

/* about */
#about {
    display: block;
    margin-bottom: 100px;
}
#about figure {
    left: 50%; top: 0;
    width: 70%;
    transform: translateX(-50%);
    display: block;
}
#about figure img {display: block;}
#about ul {
    width: 100%;
    display: block;
    position: relative;
    padding: 140px 0 0;
    transform: translateY(0);
    text-align: center;
}
#about ul li > span {
    padding: 5px 12px;
    font-size: 16px;
    margin: 0 3px 15px 0px;
}
/* project */
#project {padding-top: 200px;}
#project #contwrap_web .content {
    display: block;
    width: 100%;
}
#project #contwrap_web .content .imgarea {
    margin-bottom: 35px;
}
#project #contwrap_web .content .imgarea:before {
    display: none;
}
#project #contwrap_web .content .imgarea > a img {
    width: 90%;
    height: 100%;
}
#project #contwrap_web .content.right .imgarea {
    position: relative;
    right: 0;
    transform: translateX(0);
}
#project #contwrap_web .content .text {
    margin: 0 auto;
    width: 100%;
    position: relative;
}
#project #contwrap_web .content .text .title {
    font-size: 26px;
    margin-bottom: 10px;
}
#project #contwrap_web .content .text > p {
    font-size: 18px;
    width: 65%;
}
#project #contwrap_web .content .text > span {
    margin-bottom: 20px;
    font-size: 14px;
}
#project #contwrap_web .content .text .btnarea {
    position: absolute;
    top: 15%; right: -3%;
}
#project #contwrap_web .content .text .btnarea > button {
    display: block;
    margin-bottom: 20px;
    width: 160px;
    font-size: 16px;
}
#project #contwrap_design {padding-top: 100px;}
#project #contwrap_design > .design_muse {
    width: 100%;
}
#project #contwrap_design > .design_muse a img {
    width: 100%;
}
#project #contwrap_design > .design_muse .textarea {
    width: 100%;
}
#project #contwrap_design .design_muse .text {
    width: 100%;
}
#project #contwrap_design .design_muse .text .title {
    font-size: 26px;
}
#project #contwrap_design .design_muse .text > p {
    font-size: 18px;
}
#project #contwrap_design .design_muse .text > span {
    font-size: 14px;
}
#project #contwrap_design .design_muse .btnarea > button {
    margin: 0 0 20px 0;
}

.swiper {
    width: 100%;
}
.swiper-slide img {
    width: 90%;
    margin: 0 auto;
}
.swiper-slide .title {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
footer {
    width: 100%;
}

/*----- mobile ~480px */
@media screen and (max-width: 480px) {

    #main .title .subtxt {
        left: 50%;
        transform: translateX(-50%);
        font-size: 36px;
        margin-bottom: 10px;
    }
    #main .title .maintxt {
        font-size: 36px;
    }
    #main .title .maintxt:before {
        width: 85%;
        bottom: -10px;
    }
    #about {
        display: block;
        margin-bottom: 100px;
    }
    #about figure {
        width: 90%;
        left: 50%; top: 0;
        transform: translateX(-50%);
        display: block;
    }
    #about figure img {display: block;}
    #about ul {
        width: 100%;
        display: block;
        position: relative;
        padding-top: 20px;
        transform: translateY(0);
        text-align: center;
    }
    #about ul li > h1 {font-size: 20px;}
    #project {padding-top: 350px;}
    #project #contwrap_web .content .imgarea > a img {
        width: 100%;
        height: 100%;
    }
    #project #contwrap_web .content .text {
        width: 100%;
    }
    #project #contwrap_web .content .text > p {
        width: 100%;
    }
    #project #contwrap_web .content .imgarea {
        margin-bottom: 15px;
    }

    #project #contwrap_web .content .text .btnarea {
        position: static;
        display: flex;
        top: 0; right: 0;
    }
    #project #contwrap_web .content .text .btnarea > button {
        display: block;
        margin-bottom: 20px;
        width: 50%;
        font-size: 16px;
    }

    #project #contwrap_design {padding-top: 50px;}
    #project #contwrap_design > .design_muse {width: 100%;}
    #project #contwrap_design .design_muse > a img {
        width: 100%;
    }
    #project #contwrap_design .design_muse > .textarea {
        width: 100%;
        display: block;
    }
    #project #contwrap_design .design_muse .btnarea > button {
        width: 45%;
    }
    .swiper {
        width: 100%;
    }
}