@charset "utf-8";
/*----- laptop 1025~1200px */
.header_top .header_top_inner {width: 95%;}
.header_top .search > input {display: none;}
.header {
    width: 100%;
}
.header .gnb > li{
    margin-right: 10px;
}

.f_top_inner {position: relative;}
.f_top_inner .category li {
    margin-right: 10px;
}
.f_top_inner .sitemap {
    position: absolute;
    bottom: -50px;
}
.f_btm .f_btm_inner {
    padding: 50px 0 50px;
}
.f_btm_inner .info {
    width: 50%;
}
/*----- tablet 800px~1024px */
@media screen and (max-width: 1024px) {
    .header_top {display: none;}
    .headerWrap {
        position:fixed;
        z-index: 100;
        padding-left: 20px;
        box-sizing: border-box;
    }
    .header .gnb {display: none;}
    .header .mobile_btn {
        display: flex;
    }
    .header .mobile_btn .m_search_wrap input,
    .header .mobile_btn .m_search_wrap .m_btn_close {display: none;}
    .header .mobile_btn .m_search_wrap.on input {
        display: block;
        position: absolute;
        left: 0; bottom: 0;
        background: #f5f5f5;
        border: none;
        height: 100%;
        width: 80%;
        padding-left: 20px;
    }
    .header .mobile_btn .m_search_wrap.on .m_btn_search {
    cursor: pointer;
    background: url(../img/ico/ic_search.png) no-repeat center / contain;
    height: 18px;
    width: 18px;
    border: none;
    position: absolute;
    top: 50%; right: 140px;
    transform: translateY(-50%);
    }
    .header .mobile_btn .m_search_wrap.on .m_btn_close {
        display: block;
        cursor: pointer;
        background: url(../img/ico/ic_close_s.png) no-repeat center / contain;
        height: 15px;
        width: 15px;
        border: none;
        position: absolute;
        top: 50%; right: 90px;
        transform: translateY(-50%);
        }
    .header .mobile_btn .m_search_wrap .m_btn_search {
        cursor: pointer;
        background: url(../img/ico/ic_search.png) no-repeat center / contain;
        height: 18px;
        width: 18px;
        border: none;
        position: absolute;
        top: 50%; right: 90px;
        transform: translateY(-50%);
            }
    .header .mobile_btn .m_menu {
        position: absolute;
        width: 26px; height: 20px;
        top: 50%; right: 30px;
        transform: translateY(-50%);
    }
    .header .mobile_btn .m_menu > span:first-child:after {
        content: '';
        background: #646560;
        height: 2px; width: 100%;
        position: absolute;
    }
    .header .mobile_btn .m_menu > span:nth-child(2):after {
        top: 8px;
        content: '';
        background: #646560;
        height: 2px; width: 80%;
        right: 0;
        position: absolute;
    }
    .header .mobile_btn .m_menu > span:nth-child(3):after {
        top: 16px;
        content: '';
        background: #646560;
        height: 2px; width: 100%;
        position: absolute;
    }
    .lnb {
        display: none;
    }
    .contents {
        width: 95%;
    }
    #info > ul {
        flex-wrap: wrap;
    }
    #info > ul > li {
        width: 48%;
        margin-bottom: 20px;
    }
    #note .nt.cont > .inner > li {
        width: 100%;
    }
}
    /*----- mobile ~800px */
@media screen and (max-width: 800px) {
    section .cont > ul > li > .language {
        display: block;
    }
    section .cont > ul > li > .language > li {
        width: 100%;
        margin-bottom: 20px;
    }
    footer .f_top {
        border: none;
    }
    .f_top .f_top_inner {
        width: 100% !important;
        padding: 0 !important; 
        margin: 0 !important;
        display: block !important;
    }
    .f_top_inner .category {
        flex-wrap: wrap;
        width: 100%;
    }
    .f_top_inner .category li {
        margin: 0;
        width: 50%;
        border: .5px solid rgba(0,0,0,0.2);
        text-align: center;
        padding: 20px 0;
        box-sizing: border-box;
        border-collapse: collapse;
    }
    .f_top_inner {position: relative;}
    .f_top_inner .sitemap {
        position: static;
        padding: 10px;
        background: #f5f5f5;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .f_top_inner .sitemap button {
        width: 100%;
        height: 55px;
    }
    .f_top_inner .sitemap.on button:after {
        width: 8px; height: 8px;
    }
    .f_top_inner .sitemap button:after {
        width: 8px; height: 8px;
    }
    .f_top_inner .sitemap ul {
        bottom: 55px;
        text-align: center;
    }
}
 /*----- mobile ~600px */
 @media screen and (max-width: 600px) {
    #info > ul > li {
        width: 100%;
        margin-bottom: 20px;
    }

}