@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); 
/* font-family: "Noto Sans KR", sans-serif; */

body {
    width: 100%;
    font-family: "Noto Sans KR", sans-serif;
    overflow-x: hidden;
}
a, a > button {cursor: pointer;}
.title {
    position: relative;
    margin-bottom: 50px;
}
.title h2 {
    font-size: 3.8rem;
    color: black;
}
.exhibition .title h2:after,
.education .title h2:after {
    content: '';
    position: absolute;
    background: url(../img/ico/ic_more.png) no-repeat center / contain;
    width: 40px; height: 40px;
    top: 50%; left: 150px;
    transform: translateY(-50%);
}
#wrapper {
    width: 100%;
    overflow-x: hidden;
}
/* header_top */
.header_top {
    background: #F5F5F5;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: .9rem;
}
.header_top .header_top_inner {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
}
.header_top_inner .left,
.header_top_inner .right {
    display: flex;
    justify-content: space-between;
}
.header_top_inner .left > li,
.header_top_inner .right > li {
    margin: auto 30px auto 0;
}
.header_top_inner .right {position: relative;}
.header_top_inner .right > .sns ul {
    display: flex;
    justify-content: space-between;
}
.header_top_inner .right .sns ul li {
    position: relative;
    margin-right: 40px;
}
.header_top_inner .right .sns ul li a {display: block;}
.header_top_inner .right .sns ul li a:before {
    content: '';
    position: absolute;
    height: 30px; width: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.header_top_inner .right .sns ul li .insta:before {
    background: url(../img/ico/ic_instagram.png) no-repeat center / contain;
}
.header_top_inner .right .sns ul li .youtube:before {
    background: url(../img/ico/ic_youtube.png) no-repeat center / contain;
}
.header_top_inner .right .sns ul li .facebook:before {
    background: url(../img/ico/ic_facebook.png) no-repeat center / contain;
}
.header_top_inner .right .sns ul li .blog:before {
    background: url(../img/ico/ic_blog.png) no-repeat center / contain;
}
.header_top_inner .right .sns ul li .twitter:before {
    background: url(../img/ico/ic_twitter2.png) no-repeat center / contain;
}
.header_top_inner .right .lang {
    position: relative;
    cursor: pointer;
    padding-right: 20px;
}
.header_top_inner .right .lang.on:after {
    content: '';
    position: absolute;
    right: 0; bottom: 5px;
    transform: translateY(-50%);
    height: 7px; width: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    transform: rotate(225deg);
}
.header_top_inner .right .lang:after {
    content: '';
    position: absolute;
    right: 0; bottom: 50%;
    transform: translateY(-50%);
    height: 7px; width: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
}
.header_top_inner .right .lang.on .lang_inner {display: block;}
.header_top_inner .right .lang .lang_inner {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: 400;
    bottom: -135px;
    z-index: 20;
}
.header_top_inner .right .lang .lang_inner li {
    padding: 10px 20px;
}
.header_top_inner .right .lang .lang_inner li:hover {
    background: rgba(255,255,255,0.5);
}
.header_top_inner .right .search {
    height: 40px;
    position: relative;
}
.header_top_inner .right .search input {
    height: 100%; width: 300px;
    background-color: #DEDED7;
    border: none;
    padding-left: 10px;
    margin-right: 20px;
}
.header_top_inner .right .search > button {
    cursor: pointer;
    background: url(../img/ico/ic_search.png) no-repeat center / contain;
    height: 20px;
    width: 20px;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* header */
.headerWrap {
    width: 100%;
    background: white;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 85%;

    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    height: 40px;
}
.header .logo {
    width: 15%;
}
.header .logo > a {
    display: block;
    background: url(../img/ico/logo.png) no-repeat center / contain;
    height: 100%;
    width: 100%;
}
.header .gnb {
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
}
.header .gnb > li {
    position: relative;
    width: 100%;
    margin-right: 40px;
    text-align: center;
}
.header .gnb > li > a {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
    line-height: 1.5;
}
.header .gnb > li > a:hover {
    color: #BF2348;
}
.header .gnb > li > .depth {
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    top: 55px;
    border-top: 3px solid #BF2348;
    text-align: left;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header .gnb > li > .depth > li {
    padding: 20px 10px;
    font-size: .95rem;
    color: black;
    position: relative;
}
.header .gnb > li > .depth > li.gosite:after {
    content: '';
    position: absolute;
    background: url(../img/ico/ic_newwin.png) no-repeat center / contain;
    height: 10px; width: 10px;
    top: 50%; right: 5px;
    transform: translateY(-50%);
}
.header .gnb > li > .depth > li:hover {
    background: #BF2348;
    color: white;
}
.header .gnb > li > .depth > li.gosite:hover:after {
    content: '';
    position: absolute;
    background: url(../img/ico/ic_newwin_w.png) no-repeat center / contain;
}
.header .mobile_btn {display: none;}
/* video */
.main_video video {
    width: 100%;
    pointer-events: none;
}
/* news */
.news {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.news .newTitle {
    position: relative;
    padding-left: 30px;
}
.news .newTitle:after {
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    background: url(../img/ico/ic_megaphone.png) no-repeat center / contain;
    left: 0; top: 50%;
    transform: translateY(-50%);
}
.news .newTitle,
.news .viewMore button {
    color: black;
    font-size: 1.15rem;
}
.news .newsWrap {
    width: 80%;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.newsWrap .textslidewrap {
    position: relative;
    overflow: hidden;
    width: 80%; height: 20px;
}
.newsWrap .textslidewrap .textslide li {
    position: absolute;
    width: 100%;
    top: -36px;
    background: white;
}
.newsWrap .textslidewrap .textslide li a > span {
    color: #1E8BDB;
    margin-right: 10px;
} 
.newsWrap .textslidewrap .textslide li.prev {
    top: 36px;
    transition: top 0.5s ease;
}
.newsWrap .textslidewrap .textslide li.current {
    top: 0;
    transition: top 0.5s ease;
}
.newsWrap .textslidewrap .textslide li.next {
    top: -36px;
    transition: top 0.5s ease;
}
.news .viewMore button {
    background: none;
    border: none;
}
.news .viewMore {
    position: relative;
}
.news .viewMore button:after {
    content: '';
    position: absolute;
    height: 20px; width: 20px;
    right: -30px;
    background: url(../img/ico/arrow_big.png) no-repeat center / contain;
    top: 50%;
    transform: translateY(-50%);
}
/* museum */
.museum {
    display: flex;
    margin: 100px auto;
    justify-content: center;
}
.museum .imgWrap {
    position: relative;
    overflow: hidden;
}
.museum .imgWrap figure > img {
    max-width: 100%;
    transition: transform 0.5s ease;
}
.museum .imgWrap:hover figure > img {
    transform: scale(1.1)
}
.museum .imgWrap .textArea {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.museum .imgWrap .textArea > h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.museum .imgWrap .textArea > p {
    font-weight: 400;
    font-size: 20px;
}
/* exhibition */
.exhibition {
    width: 80%;
    margin: 0 auto 100px;
}
.exhibition .title {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.exhibition .title .swiper-button-wrap {
    position: relative;
    width: 200px;
    top: 50%;
    right: 0;
}
.swiper-button-prev {
    background: url(../img/ico/arrow_big.png) no-repeat center / contain;
    width: 100px !important;
    transform: rotate(180deg);
}
.swiper-button-prev:after {
    content: '';
    display: none;
}
.swiper-button-next {
    background: url(../img/ico/arrow_big.png) no-repeat center / contain;
    width: 100px !important;
}
.swiper-button-next:after {
    content: '';
    display: none;
}
.exhibition .swiper {overflow: visible;}
.exhibition .swiper .swiper-slide a .imgArea {position: relative;}
.exhibition .swiper .swiper-slide a .imgArea > span {
    background: rgba(205, 225, 232, 0.9);
    padding: 10px 20px;
    font-size: 1.15rem;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    top: 10px; left: 10px;
}
.exhibition .swiper .swiper-slide a .imgArea figure {
    width: 100%;
    margin-bottom: 20px;
}
.exhibition .swiper .swiper-slide a .imgArea figure > img {
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.exhibition .swiper .swiper-slide a .textArea > h5 {
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.exhibition .swiper .swiper-slide a .textArea > span {
    display: block;
    margin-bottom: 10px;
    font-size: 1.15rem;
    font-weight: 500;
}
/* education */
.education,
.contents {
    width: 80%;
    margin: 0 auto 100px;
    position: relative;
}
.education .edu_tab {
    margin-bottom: 30px;
}
.education .edu_tab button {
    cursor: pointer;
    margin: 0 20px 20px 0;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.15rem;
    font-weight: 500;
    height: 40px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.education .edu_tab button.on {
    background: #15576E;
    color: white;
}
.education .eduSwiper .swiper-slide {
    width: 22.5%;
    margin-right: 40px;
}
.education .eduSwiper .swiper-slide a {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.education .eduSwiper .swiper-slide a > .textArea span {
    color: #BF2348;
    font-weight: 500;
    font-size: 1.15rem;
}
.education .eduSwiper .swiper-slide a > .textArea h5 {
    color: #000;
    font-size: 1.6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 20px 0;
}
.education .eduSwiper .swiper-slide a > .textArea > p {
    font-size: 1.15rem;
}
.education .eduSwiper .swiper-slide a > .textArea > p.txtoverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.education .title {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.education .title .swiper-button-wrap {
    position: relative;
    width: 200px;
    top: 50%;
    right: 0;
}
/* event */
.event {
    width: 100%;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
}
.event a {display: block;}
.event a > img {max-width: 100%;}
.event .eventList {
    width: 50%;
}
.event .eventList li {
    cursor: pointer;
    height: 33%;
    background: #000;
    color: white;
    position: relative;
    padding: 0 100px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-size: 2.2rem;
    font-weight: 600;
}
.event .eventList li a {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.event .eventList li:after {
    content: '';
    position: absolute;
    height: 50px; width: 50px;
    background: url(../img/ico/ic_more_w.png) no-repeat center / contain;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.event .eventList li:hover {
    background: #15576E;
}
.exhibition {
    width: 80%;
    margin: 0 auto 100px;
}
.exhibition .title,
.contents .title {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.exhibition .title .swiper-button-wrap,
.contents .title .swiper-button-wrap {
    position: relative;
    width: 200px;
    top: 50%;
    right: 0;
}
/* contents */
.contents .swiper {overflow: visible;}
.contents .contSwiper .swiper-slide a {
    position: relative;
}
.contents .contSwiper .swiper-slide a figure {
    width: 400px; height: 600px;
    overflow: hidden;
}
.contents .contSwiper .swiper-slide a figure > img {
    width: 100%;
}

.contents .contSwiper .swiper-slide a .title {
    display: block;
    width: 100%;
    position: absolute;
    color: white;
    font-weight: 600;
    bottom: 10%; left: 30px;
    transform: translateY(-10%);
    font-size: 1.6rem;
}
.contents .contSwiper .swiper-slide:hover a .title {
    top: 50%; left: 30px;
    transform: translateY(-50%);
}
.contents .contSwiper .swiper-slide:hover a .title:after {
    content: '';
    background: url(../img/ico/ic_more_w.png) no-repeat center / contain;
    width: 50px; height: 50px;
    position: absolute;
    bottom: 0;
}
.contents .contSwiper .swiper-slide a .title h5 {
    position: relative;
}
.contents .contSwiper .swiper-slide a .title .link:after {
    content: '';
    display: inline-block;
    margin-left: 20px;
    background: url(../img/ico/ic_newwin_w.png) no-repeat center / contain;
    width: 20px; height: 20px;
    top: 0;
}
/* footer */
footer {
    width: 100%;
}
footer .f_top {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
footer .f_top .f_top_inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.f_top_inner .category {
    display: flex;
    justify-content: space-between;
}
.f_top_inner .category li:first-child {color: #000;}
.f_top_inner .category li {
    margin-right: 30px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    line-height: 40px;
}
.f_top_inner .sitemap {position: relative;}
.f_top_inner .sitemap button {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 180px; height: 40px;
    position: relative;
    cursor: pointer;
}
.f_top_inner .sitemap.on button:after {
    content: '';
    position: absolute;
    right:45px; bottom: 40%;
    transform: translateY(-50%);
    height: 4px; width: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    transform: rotate(225deg);
}
.f_top_inner .sitemap button:after {
    content: '';
    position: absolute;
    right: 45px; bottom: 45%;
    transform: translateY(-50%);
    height: 4px; width: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    transform: rotate(45deg);
}
.f_top_inner .sitemap.on ul {display: block;}
.f_top_inner .sitemap ul {
    display: none;
    position: absolute;
    background: white;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    bottom: 40px;
    z-index: 20;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.f_top_inner .sitemap ul li {
    padding: 10px 20px;
}
.f_top_inner .sitemap ul li:hover {
    background: #F5F5F5;
}
.f_btm {
    background: #F5F5F5;
}
.f_btm .f_btm_inner {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 50px;
    display: flex;
    justify-content: space-between;
}
.f_btm_inner > a {
    display: block;
    margin: auto 0;
    width: 200px;
}
.f_btm_inner > a > img {
    max-width: 100%;
}
.f_btm_inner .info {
    width: 70%;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}
.f_btm_inner .info li {
    margin-bottom: 10px;
}
.f_btm_inner .logo {margin: auto 0;}
.f_btm_inner .logo a {
    display: inline-block;
    margin-right: 20px;
    width: 50px;
}
.f_btm_inner .logo a > img {
    max-width: 100%;
}