@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); 
/* font-family: "Noto Sans KR", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Playfair Display", serif; */

body {font-family: "Noto Sans KR", sans-serif;}

/* header */
header {
    position: fixed;
    width: 100%;
    color: white;
    z-index: 10;
}
header ul {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 20px auto;
    text-align: center;
    position: relative;
}
header ul li {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
header ul .left {
    line-height: 2.5;
}
header ul .left .gnb_menu {
    position: relative;
    width: 33%;
    display: block;
    top: 10px;
    cursor: pointer;
    height: 40px; width: 40px;
    margin-right: 40px;
    top: 50%;
    transform: translateY(-30%);
}
header ul .left .gnb_menu span {
    position: absolute;
    background: white;
    height: 2px;
    width: 70%;
    top: 0%; left: 0;
}
header ul .left .gnb_menu span:nth-child(2) {
    top: 10px;
    width: 100%;
}
header ul .left .gnb_menu span:nth-child(3) {
    top: 20px;
    width: 60%;
}
header ul .left .search {
    margin-right: 60px;
    position: relative;
    top: 50%;
    transform: translateY(-35%);
}
header ul .left .search:after {
    content: '';
    position: absolute;
    background: url(../img/ico/ico_search.png) no-repeat center / contain;
    width: 13px; height: 13px;
    top: 12px; left: 60px;
}
header ul .left .lang {
    position: relative;
    font-weight: 400;
    cursor: pointer;
    top: 50%;
    transform: translateY(-35%);
}
header ul .left .lang span {
    font-size: 8px; 
    position: absolute;
    bottom: 50%;
    margin-left: 10px;
}
header .left .logo {
    background: url(../img/logo/bg_logo_shinsegae_wh.png) no-repeat center / contain;
    width: 350px; height: 60px;
    display: block;
    margin-right: 30px;
}

header .right {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
}
header .right {
    width: 33%;
}
header .right ul li {
    width: 20%;
    line-height: 2;
}
header .right ul li {position: relative;}
header .right ul li a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header .right ul li:last-child a {
    border: 1px solid white;
    display: inline-block;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
/* header white */
header.white {
    background: white;
    color: black;
    z-index: 21;
}
header.white ul .left .search:after {
    background: url(../img/ico/ico_search_bk.png) no-repeat center / contain;
}
header.white .logo {
    background: url(../img/logo/bg_logo_shinsegae.png) no-repeat center / contain;
}
header.white ul .left .gnb_menu span {
    background: rgba(0,0,0,0.8);
} 
header.white .right ul li:last-child a {
    border: 1px solid rgb(0, 0, 0);
}
/* menu */
.menu.on {display: block;}
.menu {
    display: none;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #111111;
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 19;
    word-break: keep-all;
}
.menu > .menuClose {
    background: url(../img/ico/btn_close_white_25x25.png) no-repeat
     center / contain;
     width: 25px; height: 100px;
     border: none;
     position: absolute;
     right: 50px; top: 20px;
     cursor: pointer;
}
.menu > ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 14%;
    margin: 80px 150px 0;
    justify-content: space-between;
}
.menu > ul > li {
    width: 14%;
    margin-bottom: 20px;
}
.menu > ul > li > p {
    color: #989434;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.menu > ul > li > .menuInner {
    font-family: "Montserrat", "Noto Sans KR";
}
.menu > ul > li > .menuInner > li {
    margin-bottom: 15px;
}
.menu > ul > li > .menuInner > .innerTitle {
    font-weight: 500;
    font-size: 18px;
}
.menu > ul > li > .menuInner > .subTitle {
    font-weight: 300;
    color: rgba(255,255,255,0.8);
}
.menu > ul > .lounge > ul > li a > img {
    width: 175px;
}
.menu > ul > .lounge > ul > li a > p {
    font-weight: 300;
    color: rgba(255,255,255,0.8);
    margin-bottom: 10px;
}
/* footer */
footer {
    height: 30vh;
    background: black;
    color: white;
    text-align: center;
    padding: 60px 100px;
}
footer .logo {
    margin-bottom: 60px;
}
footer .logo a {
    margin: 0 20px;
}
footer .btmArea {
    display: flex;
    justify-content: space-between;
}
footer .btmArea .center {
    width: 55%;
}
footer .btmArea .center .category {
    font-weight: 400;
    font-size: 15px;
    word-break: keep-all;
    line-height: 2;
    text-align: left;
    margin: 0 auto 30px;
}
footer .btmArea .center .category a {
    margin: 0 30px 0 0;
}
footer .btmArea .center .category > a span {
    color: #989434;
}
footer .btmArea .center .info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
}
footer .btmArea .center .info p {
    margin-bottom: 10px;
}
footer .btmArea .center .info p > span {
    margin: 0 20px;
    display: inline-block;
}
footer .btmArea .right {position: relative;}
footer .btmArea .right button {
    padding: 0 30px 5px 0;
    text-align: left;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    margin-bottom: 20px;
    width: 230px;
    cursor: pointer;
}
footer .btmArea .right button.on:after {
    transform: rotate(-225deg);
    top: 20%;
}
footer .btmArea .right button:after {
    position: absolute;
    right: 10px;
    content: '';
    width: 10px; height: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(-45deg);
}
footer .btmArea .right .familysite.on {display: block;}
footer .btmArea .right .familysite {
    display: none;
    position: absolute;
    bottom: 185px;
    text-align: left;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: white;
    font-size: 12px;
    width: 100%;
    z-index: 20;
}
footer .btmArea .right .familysite li {
    padding: 10px 20px;
}
footer .btmArea .right .familysite li:hover {
    text-decoration: underline;
}
footer .btmArea .right .sns {
    display: flex;
    justify-content: space-between;
}

/* main01 */
a, a > button, button {cursor: pointer;}
.main01 {
    width: 100%;
    background: white;
    padding: 180px 0;
    position: relative;
    font-family: "Montserrat","Noto Sans KR";
}
.main01 .content {
    width: 70%;
    margin: 0 auto;
}
.titleArea {
    color: #000;
    margin-bottom: 70px;
}
.titleArea h2 {
    font-family: "Playfair Display", serif;
    font-size: 56px;
    font-weight: 400;
    margin-bottom: 20px;
}
.titleArea > p {
    line-height: 1.8;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
}
.content .tab {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 40px;
    text-align: center;
}
.content .tab li {
    width: 50%;
    padding: 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.content .tab li.on {
    border: 1px solid #000;
    border-bottom: white;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
.cont01 {
    display: none;/* flex; */
    justify-content: space-between;
    padding: 70px 0;
    width: 100%;
}
.cont01.on {
    display: flex;
}
.cont01 .left {width: 45%;}
.cont01 .left input {
    width: 100%;
    background: #F9F9F9;
    border: none;
    padding: 20px 15px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}
.cont01 .left .saveId {
    display: none;
}
.cont01 .left label > span {
    padding-left: 30px;
    display: block;
    margin-bottom: 20px;
}
.cont01 .left .saveId + label {cursor: pointer;}
.cont01 .left .saveId + label:before {
    background: url(../img/ico/id_select.png) no-repeat center / contain;
    width: 26px; height: 26px;
    content: '';
    position: absolute;
    display: inline-block;
}
.cont01 .left .saveId:checked + label:before {
    background: url(../img/ico/id_select_on.png) no-repeat center / contain;
    width: 26px; height: 26px;
    content: '';
    position: absolute;
    display: inline-block;
}
.cont01 .left > button {
    background: black;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    width: 100%;
    padding: 25px 0;
    margin-bottom: 20px;
    transition: background 0.5s;
}
.cont01 .left > button:hover {
    border: 1px solid rgba(0, 0, 0);
    background: white;
    color: #000;
}
.cont01 .left > p {
    color: #000;
    margin-bottom: 10px;
}
.cont01 .left .btn_opt > a {
    color: rgba(0,0,0,0.8);
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.cont01 .left .btn_opt > a:after {
    background: url(../img/ico/ico_more.png) no-repeat center / contain;
    content: '';
    height: 10px; width: 10px;
    position: absolute;
    top: 50%; right: -15px;
    transform: translateY(-50%);
}
.cont01 .right > a {
    display: block;
    width: 100%;
}
.cont01 .right {width: 45%;}
.cont01 .right > a {
    position: relative;
    display: block;
}
.cont01 .right > a button {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
}
.cont01 .right .google:before {
    content: '';
    position: absolute;
    background: url(../img/ico/ico_sns-google.png) no-repeat center / contain;
    width: 26px; height: 26px;
    top: 40%; left: 20px;
    transform: translateY(-50%);
}
.cont01 .right .facebook:before {
    content: '';
    position: absolute;
    background: url(../img/ico/ico_sns-facebook.png) no-repeat center / contain;
    width: 26px; height: 26px;
    top: 40%; left: 20px;
    transform: translateY(-50%);
}
.cont01 .right .naver:before {
    content: '';
    position: absolute;
    background: url(../img/ico/ico_sns-naver.png) no-repeat center / contain;
    width: 26px; height: 26px;
    top: 40%; left: 20px;
    transform: translateY(-50%);
}
.cont01 .right .kakao:before {
    content: '';
    position: absolute;
    background: url(../img/ico/ico_sns-kakao.png) no-repeat center / contain;
    width: 26px; height: 26px;
    top: 40%; left: 20px;
    transform: translateY(-50%);
}
.cont01 .right .apple:before {
    content: '';
    position: absolute;
    background: url(../img/ico/ico_sns-apple.png) no-repeat center / contain;
    width: 26px; height: 26px;
    top: 40%; left: 20px;
    transform: translateY(-50%);
}
.cont02.on {display: block;}
.cont02 {
    display: none;
    width: 50%;
    margin: 0 auto;
    padding: 70px 0;
}
.cont02 .select {
    display: flex;
    font-size: 18px;
}

.cont02 .select > input {
    display: none;
}
.cont02 .select > label {
    padding-left: 36px;
    display: block;
    margin: 0 30px 20px 0;
}
.cont02 .select > input + label {position: relative;}
.cont02 .select > input + label {cursor: pointer;}
.cont02 .select > input + label:before {
    background: url(../img/ico/select.png) no-repeat center / contain;
    width: 26px; height: 26px;
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
}
.cont02 .select > input:checked + label:before {
    background: url(../img/ico/select_on.png) no-repeat center / contain;
    width: 26px; height: 26px;
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
}
.cont02 .room.on {display: block;}
.cont02 .room {
    display: none;
    position: relative;
}
.cont02 .room > p {
    position: relative;
    cursor: pointer;
}
.cont02 .room .room_select {
    width: 100%;
    border: 1px solid black;
    border-top: none;
    position: absolute;
    display: none;
    transition: all 0.5s;
}
.cont02 .room_select li {
    width: 100%;
    background: white;
    border: none;
    padding: 20px 15px;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
}
.cont02 .room_select li:hover {
    background: #F9F9F9;
}
.cont02 .room > p > span {
    position: absolute;
    right: 20px;
    font-size: 14px;
}
.cont02 .room > p,
.cont02 .room > .name > input,
.cont02 .room > input {
    width: 100%;
    background: #F9F9F9;
    border: none;
    padding: 20px 15px;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}
.cont02 .room > a button,
.cont02 .activity > a button {
    background: black;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    width: 100%;
    padding: 25px 0;
    margin-bottom: 20px;
    transition: background 0.5s;
}
.cont02 .room > a button:hover,
.cont02 .activity > a button:hover {
    border: 1px solid rgba(0, 0, 0);
    background: white;
    color: #000;
}
.cont02 .btmText {
    display: block;
    margin-bottom: 10px;
}
.cont02 .join {
    position: relative;
}
.cont02 .join:after {
    content: '';
    position: absolute;
    top: 50%; right: -15px;
    transform: translateY(-50%);
    width: 10px; height: 10px;
    background: url(../img/ico/ico_more.png) no-repeat center / contain;
}
.cont02 .dining.on {display: block;}
.cont02 .dining {
    display: none;
}
.cont02 .dining > input {
    width: 100%;
    background: #F9F9F9;
    border: none;
    padding: 20px 15px;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}
.cont02 .dining > .certific button {
    background: white;
    border: 1px solid black;
    width: 100%;
    padding: 25px 0;
    margin-bottom: 20px;
    font-size: 18px;
}
.cont02 .activity.on {
    display: block;
}
.cont02 .activity {
    position: relative;
    display: none;
}
.cont02 .activity > p,
.cont02 .activity > input {
    width: 100%;
    background: #F9F9F9;
    border: none;
    padding: 20px 15px;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}
.cont02 .activity > p > span {
    position: absolute;
    right: 20px;
    font-size: 14px;
}
.cont02 .activity .room_select {
    width: 100%;
    border: 1px solid black;
    border-top: none;
    position: absolute;
    display: none;
    z-index: 1;
}
.bottom {
    position: relative;
    padding: 30px;
}
.bottom ul:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%; height: 1px;
    background: rgba(0, 0, 0, 0.3);
}
.bottom ul li {
    margin-bottom: 10px;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
}
.bottom ul li:before {
    content: '*';
}
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Playfair Display", serif; */